[submodule "kconfig"]
	path = kconfig
	url = https://github.com/build2-packaging/kconfig.git
	branch = upstream-5.11-rc2
[submodule "doc/style"]
	path = doc/style
	url = https://git.build2.org/style.git
